@import url("https://fonts.googleapis.com/css2?family=Marmelad&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Marmelad";
  src: url(../fonts/Marmelad/);
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  font-family: "noto serif display", serif;
}
h3 {
  font-family: "Marmelad", sans-serif;
  font-weight: 700;
}
p {
  font-family: "Marmelad", sans-serif;
}
