*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
header{
    background-color: rgb(29, 29, 29);
    text-align: center;
}
nav{
    background-color: rgb(29, 29, 29);
    position: sticky;
    top: 0px;
    z-index: 2;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
nav ul a{
    display: inline-block;
    padding: 10px;
    color: rgb(229, 229, 229);
}
nav ul li{
    position: relative;
}
nav ul a:hover{
    display: inline-block;
    padding: 10px;
    color: grey;
    
}
nav ul li ul{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: black;
    left: 20px;
    width: 200px;
}
nav ul ul ul{
   top: 0px;
    left: 200px;
}

nav ul li:hover > ul{
    display: block;
    
}
nav ul li ul li{
    display: block;
}
.publi{
    position: relative;

}
.publi >div{
    position: absolute; 
    top: 50%;
    left: 25%;
    width: 50%;
    color: white;

}
.publi h3{
    font-size: 30px;
}
.rrss{
    position: fixed;
    right: 0;
    top: 150px;
    z-index: 1;
    background-color: rgb(29, 29, 29);
    padding: 5px;
}
.rrss a{
    display: block;
    color: white;
    margin: 5px 0;
    font-size: 1.53em;
}
.rrss a:hover{
    display: block;
    color: grey;
    margin: 5px 0;
    
}

.publi div div{
    text-align: center;
}
.publi div div >a{
    display: inline-block;
    padding: 10px 15px;
    color: inherit;
}
.publi div div a:hover{
    display: inline-block;
    padding: 10px 15px;
    color: grey;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    width: 25%;
    padding: 20px;
}

.contenedor{
    width: 80%;
    margin: 50px auto;
}
 .w-100{
    width: 100%;
 }
